<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="../../../../WebstormProjects/IS218_project2/public_html/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>

<div class="scrollToTop-btn">
    <i class="fas fa-angle-up"></i>
</div>


<header>
    <a href="#" class="brand">Project 2</a>
    <div class="menu-btn"></div>
    <div class="navigation">
        <a href="../../../../WebstormProjects/IS218_project2/public_html/index.html">Pylint & AAA</a>
        <a href="../../../../WebstormProjects/IS218_project2/public_html/oop.html">OOP</a>
        <a href="../../../../WebstormProjects/IS218_project2/public_html/solid.html">SOLID</a>
        <a href="../../../../WebstormProjects/IS218_project2/public_html/glossary.html">Glossary</a>
        <a href="../../../../WebstormProjects/IS218_project2/public_html/github.html">Github Basics</a>
        <a href="../../../../WebstormProjects/IS218_project2/public_html/azure.html">Azure & Docker</a>
        <a href="commands.html">Commands</a>
    </div>
</header>


<!-- Topics START -->

<section class="main" id="home">
    <div class="content">
        <div class="animated-text">
            <h3>Linux</h3>
            <h3>CLI</h3>
            <h3>Using Commands</h3>
        </div>
        <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</section>

<!-- Topic 1 - CLI Commands -->
<section class="skills" id="commands">
    <div class="title reveal">
        <h2 class="section-title">CLI Commands</h2>
    </div>

    <div>
        <h2 style="align-content: center; color: white; margin-bottom: 30px">Commands You Need To Know:</h2>

        <div class="row">
            <div class="column">
                <p class="success_rounded notes"><strong>Commands</strong></p>
            </div>
            <div class="column">
                <p class="info_rounded notes"><strong>Descriptions</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">pwd</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">present working directory</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">ls</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">list folders and files in the present directory</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">mkdir</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">make a directory (folder)</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">pressing "tab" twice</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">auto completes command or path</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">cd &lt;directoryName&gt;</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">change focus to specified directory</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">cd ..</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">go up one directory, go to direct parent directory</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">touch &lt;fileName&gt;</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">makes a file</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">rm &lt;fileName&gt;</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">remove/ delete a file</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">rm -r &lt;directoryName&gt;</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">remove a directory and all its contents</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">mv &lt;fileName&gt; &lt;directoryName&gt;</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">move a file</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">mv &lt;fileName&gt; &lt;newFileName&gt;</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">rename a file</p>
            </div>
        </div>


        <h2 style="align-content: center; color: white; margin-bottom: 30px">Creating and Adding to a Git
            Repository:</h2>

        <div class="row">
            <div class="column">
                <p class="success_rounded notes">git init</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">initialize repository</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">git add &lt;fileName&gt;</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">add file to staging area</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">git status</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">check what files are and are not in staging area</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">git commit -m "first commit"</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">commit all files in staging area with given message</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">git remote add origin &lt;repositoryUrl&gt;</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">add repository url with name "origin"</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="success_rounded notes">git push origin main</p>
            </div>
            <div class="column">
                <p class="info_rounded notes">push all locally committed changes to origin</p>
            </div>
        </div>
    </div>
</section>

<!-- Topics END -->

<footer class="footer">
    <span class="footer-title">Peter Rashed</span>
    <p>Copyright @2021 <a href="#">Githup Repo</a>. All Rights Reserved.</p>
</footer>

<script src="../../../../WebstormProjects/IS218_project2/public_html/scripts/script.js" charset="utf-8"></script>

</body>
</html>

</body>
</html>