<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>

<div class="scrollToTop-btn">
    <i class="fas fa-angle-up"></i>
</div>

<header>
    <a href="#" class="brand">Project 2</a>
    <div class="menu-btn"></div>
    <div class="navigation">
        <a href="index.html">Pylint & AAA</a>
        <a href="oop.html">OOP</a>
        <a href="solid.html">SOLID</a>
        <a href="glossary.html">Glossary</a>
        <a href="github.html">Github Basics</a>
        <a href="azure.html">Azure & Docker</a>
        <a href="commands.html">Commands</a>
    </div>
</header>

<!-- Topics START -->

<section class="main" id="home">
    <div class="content">
        <div class="animated-text">
            <h3>O-bject</h3>
            <h3>O-riented</h3>
            <h3>P-rogramming</h3>
        </div>
    </div>
</section>



<!-- Topic 1 - OOP -->
<section class="about" id="github">
    <div class="title reveal">
        <h2 class="section-title"> OOP In A Calculator Program</h2>
    </div>
    <div class="content">
        <div class="column col-left reveal">
            <h1 style="margin-bottom: 20px">Encapsulation:</h1>
            <p style="font-size: x-large; margin-left: 50px">Keeping attributes of a given object private from other objects.
                This allows us to write more scalable code without rewriting code that will be repeated.</p>
            </br>
                <p style="font-size: x-large; margin-left: 50px">In the Calculator object we encapsulated the mathematical operations.</p>
        </div>
    </div>

    <div>
        <div class="content">
            <div class="column col-left reveal">
                <h1 style="margin-bottom: 20px">Inheritance:</h1>
                <p style="font-size: x-large; margin-left: 50px">Creating children objects that take, or inherit,
                    functions and attributes from their parents.</p>
                </br>
                    <p style="font-size: x-large; margin-left: 50px">In the Calculator, we created a Calculation
                        object which was inherited by the 4 different math operations. </p>
            </div>
        </div>
    </div>

    <div>
        <div class="content">
            <div class="column col-left reveal">
                <h1 style="margin-bottom: 20px">Polymorphism:</h1>
                <p style="font-size: x-large; margin-left: 50px">Defining a parent structure that contains functions
                    that can be used by many objects, but in different ways.</p>
                </br>
                    <p style="font-size: x-large; margin-left: 50px">In the Calculator we used polymorphism for each of the 4 different math operations as they all
                    had to get a result, but in a different way</p>
            </div>
        </div>
    </div>

    <div>
        <div class="content">
            <div class="column col-left reveal">
                <h1 style="margin-bottom: 20px">Abstraction:</h1>
                <p style="font-size: x-large; margin-left: 50px">Extracting and summarizing the core components of an
                    object into a presentable and usable format.</p>
                </br>
                    <p style="font-size: x-large; margin-left: 50px">In the Calculator object, the user should not be able to directly manipulate the history,
                    but when they do a math operation using the function we defined, that operation will
                    automatically be added to history within the function. </p>
            </div>
        </div>
    </div>




</section>


<!-- Topics END -->

<footer class="footer">
    <span class="footer-title">Peter Rashed and Waqas Pathan</span>
    <p>Copyright @2021 <a href="#">Githup Repo</a>. All Rights Reserved.</p>
</footer>

<script src="../static/scripts/script.js" charset="utf-8"></script>

</body>
</html>